<div class="dashboard">
  <mat-card class="student-card">
    <mat-icon class="icon">school</mat-icon>
    <mat-card-header>
      <div mat-card-title>Total Student</div>
    </mat-card-header>
    <mat-card-content>
      <h4>{{ studentCount }}</h4>
    </mat-card-content>
  </mat-card>
</div>

<div class="dashboard">
  <mat-card class="staff-card">
    <mat-icon class="icon">person</mat-icon>
    <mat-card-header>
      <div mat-card-title>Total Staff</div>
    </mat-card-header>
    <mat-card-content>
      <h4>{{ staffCount }}</h4>
    </mat-card-content>
  </mat-card>
</div>

<div class="dashboard">
  <mat-card class="department-card">
    <mat-icon class="icon">business</mat-icon>
    <mat-card-header>
      <div mat-card-title>Total Department</div>
    </mat-card-header>
    <mat-card-content>
      <h4>{{ departmentCount }}</h4>
    </mat-card-content>
  </mat-card>
</div>

<div class="dashboard">
  <mat-card class="standard-card">
    <mat-icon class="icon">grade</mat-icon>
    <mat-card-header>
      <div mat-card-title>Total Standard</div>
    </mat-card-header>
    <mat-card-content>
      <h4>{{ standardCount }}</h4>
    </mat-card-content>
  </mat-card>
</div>
