<div class="container">
  <h2>Fee Types</h2>
  <a class="btn btn-success" routerLink="/fee-types/create">Create Fee Type</a>
  <ejs-grid #grid [dataSource]="feeTypes" [editSettings]="editSettings" [allowPaging]="true"
            [pageSettings]="pageSettings" [filterSettings]="filterSettings" [toolbar]="toolbarOptions"
            [selectionSettings]="selectionOptions" [searchSettings]="searchOptions">
    <e-columns>
      <e-column field="feeTypeId" headerText="ID" width="100"></e-column>
      <e-column field="typeName" headerText="Name" width="150"></e-column>
      <e-column headerText="Action" width="150">
        <ng-template #template let-data>
          <button class="btn btn-primary" [routerLink]="['/fee-types', data.feeTypeId, 'edit']">Edit</button>
          <button class="btn btn-danger" (click)="confirmDelete(data.feeTypeId)">Delete</button>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>

  <!-- Confirmation Dialog Popup -->
  <div class="confirmation-popup" *ngIf="confirmationDialogVisible">
    <div class="confirmation-dialog">
      <app-confirmation-dialog [title]="'Confirmation'" [message]="'Are you sure you want to delete this fee type?'"></app-confirmation-dialog>
      <button class="btn btn-danger" (click)="deleteFeeType()">Confirm Delete</button>
      <button class="btn btn-secondary" (click)="closeConfirmationDialog()">Cancel</button>
    </div>
  </div>
</div>
