/* You can add global styles to this file, and also import other style files */
.text-danger{
    color:red;
    font-style:italic;
}

.required::after{
    content:" *";
    color:red;
    font-size:large;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


