<div class="container">
  <h2>Update Monthly Payment</h2>
  <form #monthlyPaymentForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="monthlyPaymentId">Monthly Payment ID:</label>
      <input type="text" class="form-control" id="monthlyPaymentId" [(ngModel)]="model.monthlyPaymentId" name="monthlyPaymentId" required>
    </div>

    <div class="form-group row">
      <label for="studentId" class="col-md-4 col-form-label">Student Name:</label>
      <div class="col-md-8">
        <select id="studentId"
                name="studentId"
                class="form-control"
                required
                [(ngModel)]="model.studentId"
                #patID="ngModel">
          <option *ngFor="let student of filteredData.students" [value]="student.studentId">
            {{ student.enrollmentNo }} - {{ student.studentName }}
          </option>
        </select>
        <div *ngIf="patID.invalid && (patID.dirty || patID.touched)" class="invalid-feedback">
          Select a student name.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="fees">Fees:</label>
      <select multiple class="form-control" id="fees" [(ngModel)]="model.fees" name="fees" required>
        <option *ngFor="let fee of filteredData.fees" [ngValue]="fee">{{ fee.feeType.typeName }}  - {{ fee.amount }}</option>
      </select>
      <div *ngIf="!model.fees || model.fees.length === 0" class="invalid-feedback">At least one Fee must be selected.</div>
    </div>

    <div class="mb-3">
      <label for="academicMonths" class="form-label">Academic Months:</label>
      <select multiple [(ngModel)]="model.academicMonths" name="academicMonths" class="form-control" required>
        <option *ngFor="let month of academicMonthList" [ngValue]="month">{{ month.monthId }} {{ month.monthName }}</option>
      </select>
      <div *ngIf="!model.academicMonths || model.academicMonths.length === 0" class="invalid-feedback">At least one Academic Month must be selected.</div>
    </div>


    <div class="form-group">
      <label for="waver">Waver (%):</label>
      <input type="number" class="form-control" id="waver" [(ngModel)]="model.waver" name="waver" required>
      <div *ngIf="model.waver < 0 || model.waver > 100" class="invalid-feedback">Waver percentage must be between 0 and 100.</div>
    </div>


    <div class="form-group">
      <label for="previousDue">Previous Due:</label>
      <input type="number" class="form-control" id="previousDue" [(ngModel)]="model.previousDue" name="previousDue" required>
    </div>

    <div class="form-group">
      <label for="amountPaid">Amount Paid:</label>
      <input type="number" class="form-control" id="amountPaid" [(ngModel)]="model.amountPaid" name="amountPaid" required>
    </div>


    <div class="form-group">
      <label for="paymentDate">Payment Date:</label>
      <input type="date" class="form-control" id="paymentDate" [(ngModel)]="model.paymentDate" name="paymentDate" required>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="monthlyPaymentForm.invalid">Update Monthly Payment</button>
  </form>
</div>
